* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#container {
	/*overflow: hidden;orphans: ;*/
	position: relative;
	font-size: 0;
}

.box_img {
	border: 1px solid #ccc;
	box-shadow: 0 0 5px red;
	border-radius: 5px;
	padding: 5px;
	/*float: left;*/
	display: inline-block;
	vertical-align: top;
}
